/* floats Grid*/
body{
    background-color: paleturquoise;
}
h1{
    box-sizing: content-box;
    width: 100%;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: azure;
}
h2{
    box-sizing: content-box;
    width: 100%;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: azure;  
}
h3{
width: 70%;
box-shadow: cadetblue;
list-style: none;
font-family: Georgia, 'Times New Roman', Times, serif;
font-size: 22px;
box-sizing: content-box;
margin-left: 10px;
margin-bottom: 2px;
}
p{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 14px;
    margin-left: 1em;
}
#grid-floats{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30%, 1fr));
  grid-gap: 1rem;
  margin-left: auto;
  justify-content: space-between;
}
.grid-item{
    border: 0.2em solid white;
    border-radius: 0.3em;
    list-style-type: none;
    margin: 1em 1em 1em 1em;
} 
/*Flex Grid*/
#grid-flex{
    display: flex;
    flex-direction: column;
    width: 90%;
}
@media only screen and (min-width:400px)  
{
 img{
    width:50%;
    margin: 1em;
     } 
} 
@media only screen and (max-width:400px)
   {
     #grid-floats .grid-item:first-child{
     width: 90%;
     display: grid;
    } 
     img{
        width:3em;
        margin:0.3em;
        } 
        #grid-floats p{
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-size: small;
         margin: 0.1em;
        }  
        #grid-floats h3{
            width: 30%;
            font-size: 12px;
            font-weight: bold;
            box-sizing: content-box;
            margin: 0.1em;
            }                  
    }
