body {
    background-color:#FFE766;
    background-repeat: round;
    color: #fff; 
    font-family: Georgia, 'Times New Roman', Times, serif;
  }
h1{
    text-align: center;
    margin-top: 2em;
}
h2{
    text-align: center;
}
h3{
    margin-left: 2em;
    margin-top: 1em;
  }
  li{
    margin-top: 2em;
  }
#cv{
    width: 100%;
    display: grid;
    grid-template-columns: 300px 1fr;
    grid-template-rows: 1fr 50% 50% 50% 1fr;
    grid-gap: 1rem;
    }
 ul{
    list-style-type: none;
    }
  .header{
    grid-row:1/4;
    grid-column:1/1;
    border: 1px solid transparent;
    background: repeat url(image-back.jpg);
    position: relative;
  }
  .contact-info{
    margin-left: 5em;
    margin-top: 2em;
  }
  .contact-info a{
    color: blue;
}
  .about{
    margin-left:1em;
    padding:1em;
    margin-top: 5em;
  }
  #shiva-pic img{
    border: 1px solid transparent;
    border-radius:50%; 
    width: 14em;
    height: 14em;
    margin-left: 2em;
    margin-top: 1em;
}
 .education{
    grid-row:1/1;
    grid-column: 2/2;
    border: 1px solid transparent;
    background: repeat url(image-back.jpg);
  }
  .education img{
    width: 10em;
    border: 1px solid transparent;
    border-radius: 50%;
    width: 10em;
    height: 10em;
    margin-left: 1em;
  }
  .general{
    grid-row:5/5;
    grid-column: 2/2;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1em;
    overflow: hidden;
  }
  .portfolio{
    grid-row: 1/1;
    grid-column: 1/1;
    border: 1px solid transparent;
    background-color: black;
  }
  .portfolio p{
      margin-left: 1em;
  }
  .portfolio a{
    text-align: center;
    color: blue;
  }
button {
    background-color: white;
    border: 1px solid transparent;
    border-radius: 1em;
    padding: 0.5em 1.5em;
    text-align: center;
    font-size: 12px;
    margin-left: 4.2em;
    cursor: pointer;
 }
  .portfolio img{
    width: 10em;
    border: 1px solid transparent;
    border-radius: 50%;
    width: 10em;
    height: 10em;
    margin-left: 1em;
}
  .blog{
    grid-row: 1/1;
    grid-column: 2/2;
    border: 1px solid transparent;
    background-color: black;
  }
  .blog a{
    text-align: center;
    color: blue;
}
  .blog img{
    width: 10em;
    border: 1px solid transparent;
    border-radius: 50%;
    width: 10em;
    height: 10em;
    margin-left: 1em;
}
  .work{
    grid-row: 2/2;
    grid-column: 2/2;
    border: 1px solid transparent;
    background: repeat url(image-back.jpg);
  }
  .language{
    grid-row: 3/3;
    grid-column: 2/2;
    border: 1px solid transparent;
    background: repeat url(image-back.jpg);
  }
 .reference{
    grid-row: 4/4;
    grid-column: 2/2;
    border: 1px solid transparent;
    background: repeat url(image-back.jpg);
 }
